*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #333;
}

nav{
    background-color: #333;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    flex-wrap: wrap;
}

nav h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    color: #fff;
    text-transform: uppercase;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul{
    display: flex;
}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    max-width: 1270px;
    margin: 50px auto;
}
.flex > p{
    padding: 20px;
    color: #fff;
}


.sticky{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky li a{
    color: #333;
}

.sticky h1{
    color: #333;
}

.active{
    border-bottom: 2px solid orange;
}

.active > *{
    color: orange;
}

button{
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

i{
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

@media screen and (max-width: 600px){
    #navbar > ul{
        flex-direction: column;
        width: 100%;
        z-index: 1;
        margin: 0 auto;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2rem 0;
        margin-top: 1.5rem;
        transform: translateY(-200%);
        transition: slide slide-up 0.5s;
    }
    #navbar > ul > *{
        width: 80%;
        padding: 5px 0;
        font-size: 1rem;
        border-bottom: 1px solid white;
        text-align: center;
    }
    .bi-list{
        display: block;
    }
}

.slide{
    animation: slide 0.5s forwards;
}

@keyframes slide{
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}