*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    overflow: hidden;
}

#header{
    background-color: #333;
    padding: 1rem 2rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


#icon{
    display: flex;
    align-items: center;
}

i{
    align-items: center;
    cursor: pointer;
}

.bi-x-lg{
    position: absolute;
    right: 2rem;
    transform: translateY(-200px);
    transition: all 0.3s;
}

#search{
    position: absolute;
    width: 50px;
    transform: translateX(200%);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    transition: all 1s;
}

#search input{
    width: 100%;
    border: none;
    outline: none;
}


